@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1400px;
  margin: 0 auto;
  color: #293449;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #FFFFFF;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 115px;
}

.header {
  position: relative;
}

.header-white {
  background-color: #F3F7F9;
  padding: 11px 0 13px 0;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: inherit;
}

.header-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #EE3643;
  margin: 0;
  margin-right: auto;
  padding-left: 2px;
  padding-top: 2px;
  max-width: 600px;
}

.header-adress {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  margin: 0;
  margin-right: 33px;
  max-width: 300px;
}

.header-phone {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #293449;
  letter-spacing: 2px;
  text-decoration: none;
  padding-left: 24px;
  max-width: 200px;
  background-image: url(../images/icon/phone.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  margin: 0;
  margin-right: 4px;
}

.header-dark-grey {
  background-color: #293449;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  background: inherit;
}

.header-logo {
  display: block;
  position: relative;
  align-items: center;
  width: max-content;
  background: #EE3643;
  padding: 12px 56px 15px;
  box-shadow: 0 5px 0 #B52933;
}

.header-logo-img {
  display: block;
}

.header-form-search {
  position: relative;
  margin-right: 17px;
  flex-grow: 1;
}

.search-label {
  display: flex;
  position: relative;
}

.search-input {
  width: 100%;
  min-width: 400px;
  padding: 11px 53px 10px;
  border: 0;
  color: #FFFFFF;
  background: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-input::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-input::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-input::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-input::-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-input-icon {
  position: absolute;
  color: #FFFFFF;
  opacity: 0.3;
  top: 12px;
  left: 20px;
}

.header-form-search:focus-within .search-input {
  color: #3D546F;
  background-color: #F3F7F9;
  outline: none;
}

.header-form-search:focus-within .search-input::placeholder {
  color: #C5C5C5;
}

.header-form-search:focus-within .search-input ~ .search-input-icon{
  color: #405069;
  opacity: 1;
}

.header-log-in {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
}

.button {
  display: block;
  padding: 10px;
  border: 0;
  margin: 0;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
}

.button:focus {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  outline: none;
}

.button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.log-in-button {
  max-width: 200px;
  color: #F1F5F7;
  padding-left: 27px;
  padding-right: 2px;
  background-image: url(../images/icon/login.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-right: auto;
  justify-content: end;
  cursor: pointer;
}

.header-dropdown {
  position: relative;
}

.header-dropdown:focus-within .dropdown-form {
  display: block;
}

.dropdown-form {
  position: absolute;
  box-sizing: border-box;
  display: none;
  right: 0;
  top: 12px;
  z-index: 2;
  min-width: 300px;
  padding: 22px 29px 35px 31px;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.dropdown-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 43px;
}

.dropdown-label {
  display: block;
  margin-bottom: 6px;
}

.dropdown-label:last-of-type {
  margin-bottom: 12px;
}

.dropdown-input {
  min-width: 280px;
  padding: 7px 14px;
  border: 1px solid #C5C5C5;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.dropdown-input::placeholder {
  color: #CCCCCC;
}

.dropdown-input.is-error {
  border: 1px solid #EE3643;
}

.dropdown-input.is-error:hover {
  border: 1px solid #EE3643;
  box-shadow: inset 0 0 0 1px #EE3643;
}

.dropdown-input:hover {
  color: #293449;
  border-color: #63A63E;
  box-shadow: none;
}

.dropdown-input:focus {
  color: #293449;
  border-color: #63A63E;
  box-shadow: 0 0 0 1px  #FFBF47;
  outline: none;
}

.dropdown-input:disabled {
  color: #808080;
  border-color: #C5C5C5;
  background-color: #F1F5F7;
  pointer-events: none;
  opacity: 0.5;
}

.dropdown-interaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}


.dropdown-interaction-checkbox {
  position: relative;
  display: block;
  padding-left: 32px;
  margin-bottom: 39px;
  cursor: pointer;
}

.dropdown-checkbox-mark {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #3D546F;
  border-radius: 2px;
  left: 1px;
  background-repeat: no-repeat;
  background-position: center left 4px;
}

.dropdown-checkbox:checked + .dropdown-checkbox-mark {
  background-image: url("../images/checkbox-checked.svg");
}

.dropdown-checkbox:focus + .dropdown-checkbox-mark {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  outline: none;
}

.dropdown-checkbox-mark:hover {
  border-color:  rgba(50, 66, 92, 0.6);
}

.dropdown-checkbox:checked + .dropdown-checkbox-mark:hover {
  background-image: url("../images/checkbox-checked-hover.svg");
}

.dropdown-checkbox-mark:disabled {
  border-color:   rgba(50, 66, 92, 0.2);
}

.dropdown-checkbox:checked + .dropdown-checkbox-mark:disabled {
  background-image: url("../images/checkbox-checked-disabled.svg");
}


.interaction-link {
  text-decoration: none;
  color: #000000;
}

.button-green {
  padding: 12px 11px;
  border-radius: 2px;
  background-color: #63A63E;
  color: #FFFFFF;
  background-image: url(../images/icon/login.svg);
  background-repeat: no-repeat;
  background-position: center left 32px;
  background-size: 16px 16px;
  padding-left: 27px;
  cursor: pointer;
}

.button-green:hover {
  background-color: #5FBB2D;
  cursor: url(../images/cursor-pointer.svg);
}

.button-green:active {
  background-color: #518534;
  box-shadow: none;
}

.button-white {
  color: #32425C;
  border: 2px solid #63A63E;
  border-radius: 2px;
  text-align: center;
  background: #FFFFFF;
}

.button-white:hover {
  border-color: #3D546F;
  cursor: url(../images/cursor-pointer.svg);
}

.button-white:active {
  border-color: #C5C5C5;
  color: #C5C5C5;
  box-shadow: none;
}

.dropdown-close {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  background: none;
  background-image: url(../images/icon/dropdown-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 19px;
  right: 19px;
  cursor: pointer;
}

.dropdown-close:hover {
  opacity: 0.6;
  cursor: url(../images/cursor-pointer.svg);
}

.dropdown-close:focus {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  outline: none;
}

.dropdown-close:active {
  opacity: 0.3;
  box-shadow: none;
}
